.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.atext{
    position:  relative ;
    left:20px ;
    font-size: 25px; 
}
.aitem{
    position: relative;
    left: 20px;
    top: 8px;
    width: 280px;
    height: 24px;
    text-align: center;
    }
.bitem{
    position: relative;
    left: 25px;
    top: 8px;
    width: 75px;
    height: 30px;
}
.lhead{
    position: relative;
    left: 17px;
    top: 33px;

}